<h3 class="text-xl mt-8 mb-4">Q&A for volunteers</h3>
<blockquote class="font-bold">Do I get paid?</blockquote>
<p>
  No. This is not a food delivery service. Our goal is to help people, not to
  earn money on it. Of course those who can afford ordering delivery to their
  home should order it, but there are a lot of people who cannot afford it. Some
  people might show their appreciation somehow, but it is not and will not be
  encouraged.
</p>

<blockquote class="font-bold">Do I have to spend my own money to buy food for people?</blockquote>
<p>
  We are not funded by any government or company, so we can't give you money to buy food.
  At the same we do not ask you to donate money. One-time donation isn't enough in
  this situation. And to provide constant help, you will need your funds back.
  You will have to buy food for your own money, keep receipts, and bring it to people.
  For example, plan a simple package (bread, cereal, water). Find a person who
  needs it. Buy it and bring it to them. It should not be something expensive,
  just something to keep them going for a few more days.
</p>

<blockquote class="font-bold">Can a person refuse to buy the food I bring?</blockquote>
<p>
  We cannot force them to buy anything. That is why we ask you not to buy
  anything expensive or specific, unless you arrange it with the person first.
  By posting on the website, the person declares a need for help. You can
  offer them help, but it's up to them whether to accept or deny it.
</p>

<h3 class="text-xl mt-8 mb-4">Q&A for recipients</h3>
<blockquote class="font-bold">May I ask for help?</blockquote>
<p>
  This website is intended to support all people who fall into category of
  vulnerable individuals, such as the elderly and those with underlying health
  conditions.
</p>
<blockquote class="font-bold">Should I pay for it?</blockquote>
<p>
  This is not a food delivery service. It is completely non-profit.
  Volunteers do not get money for their work. But the food has to be purchased.
  And volunteers are the ones who buy food and bring it to you. All the receipts
  will be provided, and if you can afford, please compensate volunteers' expenses
  according to the receipt they provide.  Our goal is to help people, not to
  earn money on it. If you can afford ordering food delivery to your home,
  or if you have relatives who can help you, please ask them. But there are
  a lot of people who cannot afford it any deliveries. And this is the help
  we can provide for them — to go and buy food for them.
</p>

<h3 class="text-xl mt-8 mb-4">Q&A for all</h3>

<blockquote class="font-bold">Won't I get infected?</blockquote>
<p>
  Due to the fact that the virus is highly contagious, it is possible. That is
  why we ask you to take all the precautions when you go to the store and contact
  anyone — wash your hands, and always keep a distance. If you feel sick — it's
  better to stay at home and let others know about your condition.
</p>

<blockquote class="font-bold">Where do the money to support and develop the service come from?</blockquote>
<p>
  Currently it is only founder's own funds. This project is non-profit,
  and will never be converted to profitable service. Once this situation is over,
  and there will be no need for it to function, it will be taken down and all
  data will be erased.
</p>

<blockquote class="font-bold">How else can I help?</blockquote>
<p>
  It is an open source project, so feel free to contribute!
</p>